body{
  background-color: black;
}


.text_sur_img{
  position: absolute;
  top: 60%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%); /*Centrer le bloc semi transparent */
  color: lightyellow;
  background-color: rgba(0, 0, 0, 0.4); /* fond semi-transparent */
  padding: 5px 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.8em;
  font-family: Georgia, sans-serif;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 2px 2px 5px black;


}