body{

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  
}


.bloc_connecter{
  background-color:white;
  border: 3px solid black;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}

.text-align-c{
  text-align:center;
}


.size{
  /*taille ecriture pour  id et mdp*/
  font-size: 1.2em;  
}


.padding{
  padding: 8px 50px;/*epaisseur haut bas , droit des etiquettes id et mdp*/
  padding-left: 5px;/*coin gauche des etiquettes */
}

.bouton{
  /*exterieur*/
  margin-top: 50px;
  margin-left: 87px;
  padding: 10px 20px; 
  /*interieur*/
  background-color: black; 
  color: white; 
  font-weight: bold; 
  
}

.color{
  color: black;
}

.message-erreur {
  text-align: left;
  margin-top: -100px;
  font-size: 1.1em;  
}

.message-erreur p {
  color: red;
  font-weight: bold;
}

/*
.font-normal{
   font-weight: normal;
}
*/